<aside class="container mx-auto relative">
	<div class="w-fit mx-auto px-6">
		<img class="block w-[200px] rounded-full" src="/static/img/site/author/profile.png" alt="{{.Site.Config.Author}} 프로필">
		<div class="text-center text-sm font-semibold mt-3 space-y-1 bg-transparent w-fit mx-auto">
			<div class="text-stone-200">{{.Site.Config.Author}} 실장</div>
			<a class="inline-block text-yellow-300 hover:text-yellow-200 hover:underline" href="tel:{{.Site.Config.PhoneNumber}}">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 inline-block">
					<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"></path>
				</svg>
				<span class="inline-block">{{.Profile.PhoneNumber}}</span>
			</a>
		</div>
	</div>
	<div class="absolute left-0 top-0 -z-10 h-full w-full mx-auto overflow-x-hidden">
		<lottie-player class="w-full scale-150" src="https://lottie.host/568271cf-787f-43bd-bb7c-a8dcb3e3f68a/vdyiETr9JX.json" speed="1" loop autoplay direction="1" mode="normal"></lottie-player>
	</div>
</aside>
